*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/bg_6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.game-body{
    width: 85vw;
    background: url('../../assets/game_bg_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3.2rem;
    
    .playersInfo{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 100%;
        height: 80%;
        
    }    

    .controls{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        button{
            border: 2px solid white;
        }
    }
}


//-----------------------------  Player1 && Player2 Component Styling  ------------------------------
.player_1{
    height: 100%;
    width: 50%;
}

.player_2{
    height: 100%;
    width: 50%;
}

.score{
    display: flex;
    align-items: center;

    div{
        margin: 0.63rem 1.9rem;
    }
}

.enemyMove, .enemy{
    justify-content: end;
}

.yourMove, .enemyMove{
    display: flex;
    width: 100%;
    align-items: center;
    height: 80%;
    overflow-x: hidden;
    position: relative;
}

@keyframes moveAnimation {
    0% {
        top: -35px;
    }
    25% {
        top: 10px;
    }
    50% {
        top: 35px;
    }
    75% {
        top: 10px;
    }
    100% {
        top: 0px;
    }
  }
  
.animate{
    animation: moveAnimation .1s infinite;
}
  

.personIcon{
    img{
        width: 4.4rem;
    }
}

.stars{
    img{
        width: 3.2rem;
    }
}

@media (max-width: 422px) {
    .game-body{
        width: 100vw;
        border-radius: 1.4rem;
    }

    .score div {
        margin: 0.63rem 1.4rem;
    }
}

@media (max-width: 378px) {
    .score div {
        margin: 0.63rem .4rem;
    }
}